body
{
    background-color: #3F3185;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*font face*/
    padding-top: 5px;
}

h1
{
    color: #FFBD59; /*font colour*/
    font-size: 45px;
    font-family: 'Poor Richard';
}

p
{
    color: #F0FFFF;
    font-size: 20px;
}

/*styling for buttons*/
button, input[type="button"]
{
    background-color: #DA84CE;
    border-width: 0px;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Comic Sans MS';
    color: #F0FFFF;
    width: 250px;
    height: 50px;
}

/*styling for buttons in focus*/
button:hover, input[type="button"]:hover
{
    background-color: #B368A9;
}

/*styling for disabled button*/
input[type="button"]:disabled
{
    background-color: #DA84CE;
}

/*Centered box model using id selector*/
#box
{
    width: 600px;
    margin: auto;
    /*padding gives space inside the object*/
    padding-bottom: 20px;
    padding-top: 1px;
    border-color: #DDA248;
    border-style: groove double;
    border-width: 8px;
}

/*box model for introductory paragraph using id selector*/
#para
{
    width: 100%;
    text-align: center; /*centers text inside the object*/
}

/*Align form labels and input fields next to each other using class selector and flexbox*/
.row
{
    display: flex;
    flex-direction: row;
}

/*Styling for form labels*/
label
{
    display: inline-block; /*allows you to set a width and height on the element and does not add a line-break*/
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 40px;
    height: 22px;
    width: 150px;
}

/*Styling for form input fields using element attribute selectors*/
input[type="text"], input[type="number"], input[type="date"], input[type="email"]
{
    border: 1px;
    background-color: #F0FFFF;
    border-radius: 20px;
    height: 25px;
    width: 300px;
    text-align: center;
}

iframe
{
    border-style: groove double;
    border-width: 8px;
    border-color: #DDA248;
}

textarea
{
    background-color: #F0FFFF;
    border: 1px;
}